---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Nathan Liow" sidebarActive="about-me">
  
	<div>
		<div class="text-3xl w-full font-bold mb-5 mt-10">About Me</div>
	</div>

</BaseLayout>

<style>
	.divider {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.divider-divider-color:before {
		--tw-bg-opacity: 1;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.divider-divider-color:after {
		--tw-bg-opacity: 1;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
</style>
