---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentBox from '../components/ContentBox.astro';
---

<BaseLayout title="Projects" sidebarActive="projects">
	<div>
		<div class="text-3xl w-full font-bold mb-5">My Latest Projects</div>
	</div>

	<ContentBox
	  title="Portfolio Website"
	  img="https://www.rd.com/wp-content/uploads/2021/03/GettyImages-1133605325-scaled-e1617227898456.jpg?fit=696%2C463"
	  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
	  url="#"
	  tags={["Astro", "HTML", "CSS"]}
	  badgeTag="NEW"
	/>
	<div class="divider"></div>
	<ContentBox
	  title="youmecar"
	  img="https://www.rd.com/wp-content/uploads/2021/03/GettyImages-1133605325-scaled-e1617227898456.jpg?fit=696%2C463"
	  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
	  url="#"
	  tags={["Python", "React", "Firebase"]}
	  badgeTag="NEW"
	/>
	<div class="divider"></div>
	<ContentBox
	  title="Manim Animation"
	  img="/post_img.webp"
	  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
	  url="#"
	  tags={["Python", "Manim Library", "Video Animation"]}
	  badgeTag=""
	/>
	<div class="divider"></div>
	<ContentBox
	  title="Physics Calculator Website"
	  img="/post_img.webp"
	  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
	  url="#"
	  tags={["Python", "HTML", "CSS"]}
	  badgeTag=""
	/>
	<div class="divider"></div>
	<ContentBox
	  title="Evil Hangman"
	  img="/post_img.webp"
	  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
	  url="#"
	  tags={["Java"]}
	  badgeTag=""
	/>
	<div class="divider"></div>
	<ContentBox
	  title="Codecademy Terminal RPG"
	  img="/post_img.webp"
	  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
	  url="#"
	  tags={["Python"]}
	  badgeTag=""
	/>
	<div class="divider"></div>
</BaseLayout>

<style>
	.divider {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.divider-divider-color:before {
		--tw-bg-opacity: 1;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.divider-divider-color:after {
		--tw-bg-opacity: 1;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
</style>
