---
import '@fontsource-variable/dm-sans';

interface Props {
	tag: string;
}

const { tag } = Astro.props;
---
<div class="tag-box">
    <div class="tag-text">
        {tag}
    </div>
</div>

<style>
    .tag-box {
		display: flex;
        justify-content: center;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
		background-color: #1C1E25;
        width: max-content;
        height: max-content;
		border-radius: 10px;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
    .tag-text {
        font-size: 20px;
        font-family: 'DM Sans Variable', sans-serif;
        color: #E8E8E8;
	}
</style>