---
import '@fontsource-variable/dm-sans';

const { id, icon, selection, href, sidebarActive } = Astro.props;

import person from '/public/svg/person.svg';
import terminal from '/public/svg/terminal.svg';
import pen from '/public/svg/pen.svg';

const iconMap = {
  person,
  terminal,
  pen,
};

const selectedIcon = iconMap[icon];
const isSelected = id === sidebarActive;
---
<a class="sidebar-menu-item" href={href}>
    <div class={`selection-box ${isSelected ? 'selected' : 'unselected'}`} >
        <div class="icon">
            <img src={selectedIcon.src} alt="icon"/>
        </div>
        <div class="selection-text">
            {selection}
        </div>
    </div>
  </a>

<style>
    .selection-box {
		display: flex;
        padding-left: 15px;
        padding-right: 15px;
        width: 300px;
        height: 70px;
        border-radius: 50px;
        transition: background-color 0.15s ease-in-out;

        /* controls distance between each selection */
        margin-top: 50px;
	}
    .selection-box:hover {
		background-color: #15171E;
	}
    .selected {
        background-color: #15171E;
    }
    .unselected {
        background-color: #1C1E25;
    }
    .selection-text {
        background-image: linear-gradient(to right, #9E51B8, #00BCF0 50%, #E8E8E8 50%);
        background-size: 200% 100%;
        background-position: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 30px;
        font-family: 'DM Sans Variable', sans-serif;
        margin: 0 auto;
        padding-top: 10px;
        transition: all 0.3s ease-in-out;
	}
    .selection-text:hover {
        background-position: 0;
    }
    .icon {
        padding-top: 10px;
        padding-left: 10px;
    }
</style>