---
import '@fontsource-variable/dm-sans';

const { id, icon, selection, href, sidebarActive } = Astro.props;

import person from '/public/person.svg';
import terminal from '/public/terminal.svg';
import pen from '/public/pen.svg';

const iconMap = {
  person,
  terminal,
  pen,
};

const selectedIcon = iconMap[icon];
const isSelected = id === sidebarActive;
---
<a class="sidebar-menu-item" href={href}>
    <div class={`selection-box ${isSelected ? 'selected' : 'unselected'}`} >
        <div class="icon">
            <img src={selectedIcon.src} alt="icon"/>
        </div>
        <div class="selection-text">
            {selection}
        </div>
    </div>
  </a>

<style>
    .selection-box {
		display: flex;
        padding-left: 15px;
        padding-right: 15px;
        width: 400px;
        height: 80px;
        border-radius: 50px;
        transition: background-color 0.15s ease-in-out;

        /* controls distance between each selection */
        margin-top: 50px;
	}
    .selection-box:hover {
		background-color: #15171E;
	}
    .selected {
        background-color: #15171E;
    }
    .unselected {
        background-color: #1C1E25;
    }
    .selection-text {
        text-align: center;
        font-size: 40px;
        font-family: 'DM Sans Variable', sans-serif;
        color: #E8E8E8;
        margin: 0 auto;
        padding-top: 10px;
	}
    .icon {
        padding-top: 15px;
        padding-left: 10px;
    }
</style>