---
import github from '/public/github.svg';
import gmail from '/public/gmail.svg';
import linkedin from '/public/linkedin.svg';
import twitterx from '/public/twitterx.svg';
---
<div class="sidebar-footer">
    <a href="https://github.com/nathanliow" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <img src={github.src} class="social-icons" alt="icon"/>
    </a>

    <a
        href="https://www.linkedin.com/in/nathanliow"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <img src={linkedin.src} class="social-icons" alt="icon"/>
    </a>   
    
    <a
        href="https://twitter.com/nathanliow7456"
        target="_blank"
        class="mx-3"
        aria-label="Twitter"
        title="Twitter"
    >
        <img src={twitterx.src} class="social-icons" alt="icon"/>
    </a>   

    <a
        href="mailto:nathanliow7456@gmail.com"
        target="_blank"
        class="mx-3"
        aria-label="Gmail"
        title="Gmail"
    >
        <img src={gmail.src} class="social-icons" alt="icon"/>
    </a>   
</div>

<style>
    .sidebar-footer {
        background-color: #1C1E25;
        position: sticky;
        bottom: 0px;
        display: grid;
        grid-template-columns: repeat(4, max-content);
        gap: 25px;
    }
    .social-icons {
        fill: #9E51B8;
        width: 48px;
        height: 48px;
        transition: transform 0.15s ease-in-out;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .social-icons:hover {
        transform: scale(1.2);
    }
</style>