---
import Sidebar from '../components/Sidebar.astro';
import Header from '../components/Header.astro';

const { title, includeSidebar = true, sidebarActive } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="background">
		<div class="drawer lg:drawer-open">
			<input id="sidebar-toggle" type="checkbox" class="drawer-toggle"/>
			<div class="drawer-content background">
				<Header/>
				<div class="flex background">
					<div class="gradient-rectangle"></div>
					<div class="main-content">
						<main class="">
							<slot />
						</main>
					</div>
				</div>
			</div>
		  	{includeSidebar && <Sidebar sidebarActive={sidebarActive} />}
		</div>
	  </body>
</html>

<style is:global>
	.background {
		background-color: #15171E;
	}
	.main-content {
		background-color: #15171E;
		display: flex;
		justify-content: center;
		max-width: 80%;
		padding-left: 50px;
		padding-right: 20px;
		padding-top: 100px;
		@media (max-width: 1024px) {
            max-width: 95%;
        }
	}
	.gradient-rectangle {
		display: flex;
		flex-direction: row;
		width: 5px; 
		height: 1400px;
		border-radius: 20px;
		margin-top: 100px;
		margin-left: 100px;
		background: linear-gradient(to bottom, #00BCF0, #5781D1 50%,#9E51B8);
    
		@media (max-width: 1124px) {
            display: none;
        }
	}
</style>
