---
import Sidebar from '../components/Sidebar.astro';
import Header from '../components/Header.astro';

const { title, includeSidebar = true, sidebarActive } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="background">
		<div class="drawer lg:drawer-open">
			<input id="sidebar-toggle" type="checkbox" class="drawer-toggle"/>
			<div class="drawer-content">
				<Header/>
				<div class="main-content">
					<main class="">
						<slot />
					</main>
				</div>
			</div>
		  {includeSidebar && <Sidebar sidebarActive={sidebarActive} />}
		</div>
	  </body>
</html>

<style is:global>
	.background {
		background-color: #15171E;
	}
	.main-content {
		background-color: #15171E;
		display: flex;
		justify-content: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 100px;
	}
</style>
