---
import '@fontsource-variable/dm-sans';

const { tag } = Astro.props;
---
<div class="tag-box">
    <div class="tag-text">
        {tag}
    </div>
</div>

<style>
    .tag-box {
		display: flex;
        justify-content: center;
        padding-bottom: 2px;
        padding-left: 15px;
        padding-right: 15px;
        width: max-content;
        height: max-content;
        border-radius: 10px;
        border: 1px solid transparent;
        background-image: linear-gradient(#1C1E25, #1C1E25), linear-gradient(45deg, #9E51B8, #4D88D5 70%, #00BCF0);
        background-origin: border-box;
        background-clip: padding-box, border-box;
	}
    .tag-text {
        font-size: 16px;
        font-family: 'DM Sans Variable', sans-serif;
        color: #E8E8E8;
	}
</style>