---
import Tag from './Tag.astro';

const { tags } = Astro.props;
---
<div class="tag-group">
  {tags && tags.map((tag) => (
    <Tag tag={tag} />
  ))}
</div>

<style>
    .tag-group {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        gap: 15px;
    }
</style>