---
import { Icon } from 'astro-icon/components'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="background">
		<div class="background">
			<div class="main-content">
				<div class="navbar">
					<div class="navbar-logo">
							<a href="/" class="logo-text">Nathan Liow</a>
					</div>
					
					<div class="navbar-links">
							<a href="/#projects" class="nav-link">Projects</a>
					</div>
					<div class="navbar-social">
							<a href="https://github.com/nathanliow" target="_blank" class="social-link">
									<Icon name="mdi:github" />
							</a>
							<a href="mailto:nathanliow7456@gmail.com" class="social-link">
									<Icon name="mdi:email" />
							</a>
							<a href="https://linkedin.com/in/nathanliow" target="_blank" class="social-link">
									<Icon name="mdi:linkedin" />
							</a>
					</div>
				</div>
				<main>
					<slot />
				</main>
			</div>
		</div>
	  </body>
</html>

<style is:global>
	.background {
		background-color: #F9F6F0;
		min-height: 100vh;
	}
	.main-content {
		background-color: #F9F6F0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 25px;
		min-width: 485px;

		@media (max-width: 1024px) {
			padding-top: 50px;
		}
	}
	/* Navbar Styles */
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		border-bottom: 1px solid #e0e0e0;
	}
	.navbar-logo {
		font-size: 24px;
		font-weight: bold;
		min-width: 140px;
	}
	.logo-text {
		color: #6f5b3e;
		text-decoration: none;
	}
	.navbar-social {
		min-width: 140px;
		display: flex;
		gap: 20px;
		font-size: 24px;
	}
	.navbar-links {
		display: flex;
		justify-content: center;
		min-width: 140px;
	}
	.nav-link {
		color: #6f5b3e;
		text-decoration: none;
		font-size: 18px;
		transition: color 0.2s ease;
	}
	.nav-link:hover {
		color: #c4ae78;
	}
</style>
